.modalAvatar .modal-perfil {
    width: 100%;
    height: 300px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.modalAvatar .modal-perfil .container {
    width: 90%;
    height: 90%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--flex-start);
    flex-wrap: var(--wrap);
}

.modalAvatar .modal-perfil .container a {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.modalAvatar .modal-perfil .container a img {
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.modalAvatar .modal-perfil .container .new-post {
    margin-top: 50px;
    width: 100%;
    height: 370px;
    display: var(--flex);
    justify-content: var(--space-around);
    align-items: var(--center);
    flex-wrap: var(--wrap);
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 50px;
}

.modalAvatar .modal-perfil .container .new-post .new-post-header {
    margin-bottom: 50px;
    width: 100%;
    height: 70px;
    margin-top: -53px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    color: #7e7e7e;
}

.modalAvatar .modal-perfil .container .new-post .new-post-background {
    width: 100%;
    height: 45%;
    margin-top: -150px;
    background-image: linear-gradient(to right bottom, #cdcd85, #bad582, #9ede87, #75e694, #12eeab);
}

.modalAvatar .modal-perfil .container .new-post form {
    width: 100%;
    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
    flex-wrap: var(--wrap);
    height: 30%;
    margin-top: -150px;
}

.modalAvatar .modal-perfil .container .new-post form input[type="text"] {
    border: none;
    padding: 10px;
    color: #7e7e7e;
    text-align: start;
}

.modalAvatar .modal-perfil .container .new-post form input[type="submit"] {
    border: none;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.08);
    background-color: rgb(243, 243, 243);
    color: #7e7e7e;
    border-radius: 5px;
    padding: 15px 50px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#imagem {
    margin-left: 20px;
    width: 80%;
    margin-top: -70px;
    margin-bottom: 90px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

#titulo {
    width: 55%;
    margin-bottom: 10px;
    margin-left: 20px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

#info {
    width: 75%;
    margin-left: 20px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}