:root {
    /* VARIAVEL EXEMPLO */
    --flex: flex;
    --center: center;
    --flex-end: flex-end;
    --flex-start: flex-start;
    --space-evenly: space-evenly;
    --space-around: space-around;
    --space-between: space-between;
    --wrap: wrap;
    --nowrap: nowrap;
    --fonte: 'Nunito', sans-serif;
    --bc-color: rgb(246, 246, 246);
    --font-color: #7e7e7e;
}

body {
    background-color: var(--bc-color);
    font-family: var(--fonte);
}

@media only screen and (min-width: 1000px) {
    body {
        display: none;
    }
}


/* animation: spin 5s linear infinite; */

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}


/* animation: pulse .8s infinite ease-in; */

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1
    }
    50% {
        transform: scale(1.03);
        opacity: 1
    }
    50% {
        transform: scale(1.08);
        opacity: 1
    }
    75% {
        transform: scale(1.03);
        opacity: 1
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}