.posts {
    margin-bottom: 50px;
    width: 100%;
    display: var(--flex);
    justify-content: var(--center);
}

.posts .post {
    width: 85%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
}

.posts .post .post-header {
    width: 100%;
    height: 80px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.posts .post .post-header .container {
    width: 80%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--space-between);
    align-items: var(--center);
}

.posts .post .post-header .container .avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.08);
    animation: float 4s ease-in-out infinite;
}

.posts .post .post-header .container .nome {
    margin-left: 10px;
    color: #7e7e7e;
    width: 65%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--flex-end);
    align-items: var(--center);
}

.posts .post .post-background {
    width: 100%;
    height: 180px;
    background-color: #c5c5c5;
}

.posts .post .post-infos {
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.posts .post .post-infos .title {
    width: 100%;
    min-height: 50px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.posts .post .post-infos .title .container {
    width: 85%;
    min-height: 50px;
    color: #7e7e7e;
    font-size: 14pt;
    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
}

.posts .post .post-infos .description {
    width: 100%;
    min-height: 50px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.posts .post .post-infos .description .container {
    width: 85%;
    min-height: 50px;
    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
    color: #7e7e7e;
    padding-bottom: 10px;
    font-size: 11pt;
}

.posts .post .post-header .container .nome form {
    width: 100%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--flex-end);
    align-items: var(--center);
    flex-wrap: var(--norap);
    margin-left: 40px;
}

.posts .post .post-header .container .nome form img {
    width: 25%;
    margin-top: -30px;
    padding: 10px;
    margin-left: 60px;
    z-index: -1;
}

#btn-excluir {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 6px 16px;
    background-image: url("../../../../IMG/PERFIL/excluir.png");
    background-position: center;
    background-size: cover;
}